/* Home.module.css */
.category-container {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.category-button {
  padding: 0.5rem;
  background-color: #f7f3f3;
  color: black;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: 500;
  
}

.category-button:hover {
  color: blue;
  background-color: #c6bebe;
  font-weight: 700;
}
